apiVersion: v1
kind: Service
metadata:
  name: prober
  namespace: st-ab2-islamov
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "9100"
    prometheus.io/path: "/metrics"
spec:
  selector:
    app: prober
  ports:
    - name: metrics
      port: 9100
      targetPort: 9100
