---
apiVersion: v1
kind: Service
metadata:
  name: oncall-mysql
  labels:
    app: mysql
    app.kubernetes.io/name: mysql
spec:
  ports:
    - name: mysql
      port: 3306
      targetPort: 3306
  type: ClusterIP
  selector:
    app: mysql
---
apiVersion: v1
kind: Service
metadata:
  name: mysqld-exporter
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "9104"
    prometheus.io/path: /metrics
spec:
  type: ClusterIP
  selector:
    app: mysql
  ports:
    - name: metrics
      port: 9104
      targetPort: 9104